@import "../../colors";

.input {
  border: 1px solid #CDD1D4;
  border-radius: 4px;
  outline: none;
  &:focus {
    border: 4px solid $dark;
  }
}

.large--size-input {
  width: inherit;
  padding: 15px;
}

.normal--size-input {
  padding: 10px;
}
