@import "../../colors";

.textarea {
  outline: none;
  border: 1px solid #CDD1D4;
  border-radius: 4px;
  width: inherit;
  height: 200px;
  padding: 15px;
  resize: none;
  &:focus{
    border: 4px solid $dark;
  }
}
