.add-todo-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
