@import "../../colors";

.todo {
  width: 1080px;

  .todo-tabs {
    margin-top: 50px;

    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      &__line {
        height: 60px;
        width: 1px;
        left: 790px;
        top: 250px;
        background: $darkGray;
      }

      &__item {
        padding-left: 30px;
        cursor: pointer;
        width: 100%;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: $gray;
        list-style-type: none;
        text-decoration: none;
        outline: none;
        &:hover {
          color: black;
          &:before {
            content: '';
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 2px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $green;
          }
        }
        &:focus {
          color: black;
          &:before {
            content: '';
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 2px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $green;
          }
        }
      }
    }
  }
}


