@import "../../colors";

.add-todo {
  width: 1080px;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__text {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      &:before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $green;
      }
    }
  }

  &__line {
    height: 1px;
    background: $darkGray;
    margin-bottom: 20px;
  }

}
