@import "../../colors";

.dropdown{
  width: 380px;
  position:relative;

  &-header {
    padding: 10px 20px;
    background: white;
    border: 1px solid #CDD1D4;
    border-radius: 4px;
    &:focus {
      border: 4px solid black;
      border-radius: 4px;
    }
  }

  &-list {
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    &__item {
      background: white;
      padding: 10px 20px;
      cursor: pointer;
      color: $darkGray;
      &:hover {
        background: $blue;
      }
    }
  }
}



