@import "../../../../colors";

.todo-table-card {
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-title {
      font-family: Roboto, sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }

    &-block {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-right: 150px;

      &-priority {
        background: $success;
        padding: 10px 15px;
        border-radius: 4px;
      }

      &-date {
        background: $lightGreen;
        padding: 10px 15px;
        border-radius: 4px;
      }
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

