@import "../../../colors"

.container
  width: 100%
  max-width: 1400px
  display: flex
  flex-direction: column
  gap: 20px

.item, .red
  border-radius: 5px
  padding: 15px
  cursor: pointer
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  gap: 10px

.red
  background: $red

.item
  background: $green

.buttons
  display: flex
  flex-direction: row
  gap: 10px