@import "../../../colors"

.container
  width: 100%
  max-width: 1400px
  display: flex
  flex-flow: row wrap
  gap: 20px

.item
  background: $green
  border-radius: 5px
  padding: 15px
  cursor: pointer
  max-width: 200px
  width: max-content
  display: flex
  align-items: center
  justify-content: center
