.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: white;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.1);
  margin-bottom: 50px;

  &-text {
    width: 1080px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
  }
}
