@import "../../colors";

.button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.large--size-button {
  padding: 15px 0;
  width: 100%;
}

.normal--size-button {
  padding: 15px 25px;
}

.dark--button {
  background: $dark;
  color: white;
}

.success--button {
  background: $success;
}

.grey--button {
  background: $gray;
}
